header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
}
header .logo #logo {
  display: flex;
  width: auto;
  height: 25px;
}
header .shadow {
  box-shadow: 0 2px 2px 0 #cdcdcd;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer .cards_footer {
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 5px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin: 5px 0 20px 5px;
}
footer i {
  display: flex;
  margin-right: 10px;
  font-size: 15px;
}
footer .fa-utensils {
  margin-right: 16px;
}
@media (min-width: 960px) {
  footer .cards_footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*.loading {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: $tertiarycolor;
    inset: 0;
    animation: disappear 200ms $animation forwards;

    .loader {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
        box-sizing: border-box;
        animation: shadowPulse $animation linear infinite;
    }

    @keyframes disappear {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes shadowPulse {
        33% {
            background: #FFF;
            box-shadow: -24px 0 $primarycolor, 24px 0 #FFF;
        }

        66% {
            background: $secondarycolor;
            box-shadow: -24px 0 #FFF, 24px 0 #FFF;
        }

        100% {
            background: #FFF;
            box-shadow: -24px 0 #FFF, 24px 0 $primarycolor;
        }
    }
}*/
main .part_localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  font-weight: bolder;
  font-size: 13px;
  padding: 10px 10px 10px 60px;
}
main .part_localisation .fa-location-dot {
  margin-right: 10px;
  font-size: 15px;
}
main .part_localisation #searchbar {
  border: #e6e6e6;
  background-color: #e6e6e6;
  color: #333333;
  font-size: 15px;
}

body {
  background-color: #e6e6e6;
  font-family: "Roboto", cursive;
}

section .container_reservez {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  flex-direction: column;
  height: 270px;
  padding-left: 20px;
}
section .container_reservez .btn_commande {
  text-align: center;
  color: white;
  background-color: #9356DC;
  margin-bottom: 40px;
  width: 220px;
  height: 45px;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 5px 5px 0 #cdcdcd;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: whitesmoke;
}
section .container_reservez .btn_commande:hover {
  transform: scale(1.02);
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0 5px 5px 0 #9a9a9a;
}
section h1 {
  font-size: 20px;
}
section p {
  font-weight: 300;
  margin: 0 0 30px 0;
}

section .container_fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  counter-reset: number;
}
section .container_fonctionnement ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 15px;
}
@media (max-width: 960px) {
  section .container_fonctionnement ol {
    flex-direction: column;
  }
}
section .container_fonctionnement li {
  background-color: whitesmoke;
  flex-grow: 1;
  padding: 20px 30px;
  border-radius: 20px;
  list-style-type: none;
  position: relative;
  margin: 10px;
  box-shadow: 0 5px 5px 0 #e6e6e6;
}
section .container_fonctionnement li::before {
  content: counter(number);
  counter-increment: number;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: -15px;
}
section .container_fonctionnement li:hover {
  transform: scale(1.02);
}
section .container_fonctionnement li:hover:hover {
  background-color: #f2eafb;
}
section .container_fonctionnement li:hover i {
  color: #9356DC;
}
section a {
  text-decoration: none;
  color: black;
}
section i {
  color: gray;
  margin-right: 15px;
}

section .container_restaurants {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px 10px 50px;
}
section .container_restaurants h2 {
  margin-left: 10px;
}
section .container_restaurants .cards_menus {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 280px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 5px 5px 0 #e6e6e6;
  position: relative;
}
section .container_restaurants .cards_menus .heart {
  display: flex;
  position: absolute;
  top: 80%;
  left: 85%;
}
section .container_restaurants .cards_menus .heart .fa-solid {
  display: none;
}
section .container_restaurants .cards_menus .heart .fa-regular {
  display: flex;
  font-size: 30px;
  color: black;
}
section .container_restaurants .cards_menus .heart:hover .fa-regular {
  display: none;
}
section .container_restaurants .cards_menus .heart:hover .fa-solid {
  display: flex;
  font-size: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: 1s heart both;
}
@keyframes heart {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
section .container_restaurants .cards_menus .new {
  position: relative;
}
section .container_restaurants .cards_menus .new::before {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  content: "Nouveau";
  position: absolute;
  right: 16px;
  top: 16px;
  height: 30px;
  width: 90px;
  font-size: 15px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 3px;
}
section .container_restaurants .cards_menus img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
section .container_restaurants .cards_menus p {
  margin: 0 0 5px 10px;
}
section .container_restaurants .cards_menus h3 {
  margin: 15px 0 5px 10px;
}
@media (min-width: 960px) {
  section .container_restaurants .cards_restaurants {
    display: flex;
    width: 100%;
  }
  section .container_restaurants .cards_menus {
    width: 90%;
  }
}

header {
  display: flex;
  background-color: white;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
header .logo #logo {
  display: flex;
  width: auto;
  height: 25px;
}
header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 20px;
}

main .container_image {
  display: flex;
  flex-direction: column;
}
main .container_image img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 300px;
}
main .container_image .texte {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: -30px;
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  display: flex;
}
main .container_image .texte .fa-solid {
  display: none;
}
main .container_image .texte .fa-regular {
  display: flex;
  font-size: 30px;
  color: black;
}
main .container_image .texte:hover .fa-regular {
  display: none;
}
main .container_image .texte:hover .fa-solid {
  display: flex;
  font-size: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: 1s heart both;
}
@keyframes heart {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
main .container_image .texte h1 {
  font-family: "Shrikhand", cursive;
  margin: 15px 0 10px 0;
}

section .container_plats {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0 20px;
}
section .container_plats .animation1 {
  animation: 1s appear both;
}
section .container_plats .animation2 {
  animation: 1s appear both;
  animation-delay: 1s;
}
section .container_plats .animation3 {
  animation: 1s appear both;
  animation-delay: 2s;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
section .container_plats .menus4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
section .container_plats .menus4 h3 {
  margin: 15px 10px 5px 10px;
}
section .container_plats .menus4 p {
  margin: 5px 10px 15px 10px;
}
section .container_plats h2 {
  display: flex;
  margin: 10px 0;
  padding: 5px 0;
  width: 40px;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
}
section .container_plats .cards {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 10px 10px 10px 0;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 #e6e6e6;
  cursor: pointer;
}
section .container_plats .cards:hover .check {
  animation: 400ms both check_appear;
  transform-origin: right 50%;
}
@keyframes check_appear {
  100% {
    transform: scaleX(1);
  }
  0% {
    transform: scaleX(0);
  }
}
section .container_plats .cards:hover i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50px;
  font-size: 30px;
  animation: 500ms rotate;
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section .container_plats .cards:hover span {
  border-radius: 0;
}
section .container_plats i {
  display: none;
}
section .container_plats .check {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
section .container_plats span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500;
  background-color: white;
  padding: 15px;
  border-radius: 0 20px 20px 0;
}
section .container_plats .menus {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section .container_plats .menus h3 {
  margin: 15px 10px 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section .container_plats .menus p {
  margin: 5px 10px 15px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 40px 20px 20px 20px;
}
section .btn .btn_commande {
  text-align: center;
  color: white;
  background-color: #9356DC;
  margin-bottom: 40px;
  width: 220px;
  height: 45px;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 5px 5px 0 #cdcdcd;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: whitesmoke;
}
section .btn .btn_commande:hover {
  transform: scale(1.02);
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0 5px 5px 0 #9a9a9a;
}

/*# sourceMappingURL=style.css.map */
