/*.loading {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: $tertiary;
    inset: 0;
    animation: disappear 200ms $animation forwards;

    .loader {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
        box-sizing: border-box;
        animation: shadowPulse $animation linear infinite;
    }

    @keyframes disappear {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes shadowPulse {
        33% {
            background: #FFF;
            box-shadow: -24px 0 $primarycolor, 24px 0 #FFF;
        }

        66% {
            background: $secondarycolor;
            box-shadow: -24px 0 #FFF, 24px 0 #FFF;
        }

        100% {
            background: #FFF;
            box-shadow: -24px 0 #FFF, 24px 0 $primarycolor;
        }
    }
}*/

main {
    .part_localisation {
        @include centre;
        color: lighten(black, 20%);
        font-weight: bolder;
        font-size: 13px;

        .fa-location-dot {
            margin-right: 10px;
            font-size: 15px;
        }
    }
}

body {
    background-color: lighten($color-grey, 40%);
    @include police-texte;
}

section {
    .container_reservez {
        @include centre;
        @include background-grey;
        flex-direction: column;
        height: 270px;
        padding-left: 20px;
    }

    & h1 {
        font-size: 20px;
    }

    & p {
        font-weight: 300;
        margin: 0 0 30px 0;
    }
}

section {
    .container_fonctionnement {
        display: flex;
        flex-direction: column;

        background-color: white;
        padding: 15px;
        counter-reset: number;



        & ol {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-left: 15px;

            @media (max-width :880px) {
                flex-direction: column;
            }

        }

        & li {
            @include background-grey;
            flex-grow: 1;
            padding: 20px 30px;
            border-radius: 20px;
            list-style-type: none;
            position: relative;
            box-shadow: 0 5px 5px 0 lighten($color-grey, 40%);

            &::before {
                content: counter(number);
                counter-increment: number;
                @include centre;
                background-color: $primarycolor;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                color: white;
                font-size: 12px;
                position: absolute;
                bottom: 20px;
                left: -15px;
            }

            &:hover {
                @include zoom;

                &:hover {
                    background-color: lighten($primarycolor, 35%);
                }

                i {
                    color: $primarycolor;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    i {
        color: gray;
        margin-right: 15px;
    }
}