header {
    display: flex;
    background-color: white;

    .logo {
        @include part_logo;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        padding: 20px;
    }
}

main {
    .container_image {
        display: flex;
        flex-direction: column;
        @include image;

        .texte {
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-top: -30px;
            @include background-grey;
            border-radius: 30px 30px 0 0;
            @include heart;

            h1 {
                @include police-titre;
                margin: 15px 0 10px 0;
            }
        }
    }
}

section {

    .container_plats {
        display: flex;
        flex-direction: column;
        @include background-grey;
        padding: 0 20px;
        @include animation;
        @include menus4;

        h2 {
            display: flex;
            margin: 10px 0;
            padding: 5px 0;
            width: 40px;
            font-size: 20px;
            font-weight: 300;
            border-bottom: 3px solid $tertiarycolor;
        }

        .cards {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin: 10px 10px 10px 0;
            border-radius: 20px;
            box-shadow: 0 5px 5px 0 lighten($color-grey, 40%);
            cursor: pointer;


            &:hover {
                .check {
                    animation: 400ms both check_appear;
                    transform-origin: right 50%;
                }

                @keyframes check_appear {
                    100% {
                        transform: scaleX(1);
                    }

                    0% {
                        transform: scaleX(0);
                    }
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 50px;
                    font-size: 30px;
                    animation: 500ms rotate;

                    @keyframes rotate {
                        0% {
                            transform: rotate(360deg);
                        }

                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }

                span {
                    border-radius: 0;

                }
            }
        }

        i {
            display: none;
        }

        .check {
            display: flex;
            justify-content: center;
            background-color: $tertiarycolor;
            border-radius: 0 20px 20px 0;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-weight: 500;
            background-color: white;
            padding: 15px;
            border-radius: 0 20px 20px 0;
        }

        .menus {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            h3 {
                margin: 15px 10px 5px 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            p {
                margin: 5px 10px 15px 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    @media (min-width :960px) {
        .container_menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            @include background-grey;

            .cards {
                width: 350px;
            }
        }
    }
}


section {
    .btn {
        @include centre;
        @include btn_commande;
        @include background-grey;
        padding: 40px 20px 20px 20px;
    }
}