@mixin heart {

    display: flex;

    .fa-solid {
        display: none;
    }

    .fa-regular {
        display: flex;
        font-size: 30px;
        color: black;
    }

    &:hover {
        .fa-regular {
            display: none;
        }

        .fa-solid {
            display: flex;
            font-size: 30px;
            background: linear-gradient($primarycolor, $secondarycolor);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
        }
    }
}