@mixin centre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin background-grey {
    background-color: lighten($color-grey, 46%);
}

@mixin police-texte {
    font-family: 'Roboto', cursive;
}

@mixin police-titre {
    font-family: 'Shrikhand', cursive;
}

@mixin part_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;


    #logo {
        display: flex;
        width: auto;
        height: 25px;
    }
}

@mixin zoom {
    transform: scale(1.02);
}

@mixin image {
    img {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 300px
    }
}

@mixin animation {
    .animation1 {

        animation: 1s appear both;
    }

    .animation2 {
        animation: 1s appear both;
        animation-delay: 1s;
    }

    .animation3 {
        animation: 1s appear both;
        animation-delay: 2s;
    }

    @keyframes appear {
        0% {
            transform: scaleY(0);
            opacity: 0;
        }

        100% {
            transform: scaleY(100%);
            opacity: 1;
        }
    }
}

@mixin menus4 {
    .menus4 {
        display: flex;
        flex-wrap: wrap;

        h3 {
            margin: 15px 10px 5px 10px;
        }

        p {
            margin: 5px 10px 15px 10px;
        }

    }
}