 @mixin centre {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 @mixin background-grey {
     background-color: lighten($color-grey, 46%)
 }

 @mixin police-texte {
     font-family: 'Roboto', cursive;
 }

 @mixin part_logo {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 50px;

     #logo {
         display: flex;
         width: auto;
         height: 25px;
     }
 }

 @mixin btn_commande {
     text-align: center;
     color: white;
     background-color: $primarycolor;
     margin-bottom: 40px;
     width: 220px;
     height: 45px;
     cursor: pointer;
     border-radius: 40px;
     box-shadow: 0 5px 5px 0 lighten($color-grey, 30%);
     background-image: linear-gradient(to bottom right, $secondarycolor, $primarycolor);
     border: lighten($color-grey, 46%);

     &:hover {
         @include zoom;
         background-image: linear-gradient(to bottom right, lighten($secondarycolor, 5%), lighten($primarycolor, 5%));
         box-shadow: 0 5px 5px 0 lighten($color-grey, 10%);
     }
 }

 @mixin zoom {
     transform: scale(1.02);
 }

 @mixin heart {
     .heart {
         .fa-solid {
             display: none;
         }

         .fa-regular {
             display: flex;
             font-size: 30px;
             position: absolute;
             right: 16px;
             top: 80%;
             color: black;
         }

         &:hover {
             .fa-regular {
                 color: transparent;
             }

             .fa-solid {
                 display: flex;
                 font-size: 30px;
                 position: absolute;
                 right: 16px;
                 top: 80%;
                 background: linear-gradient($primarycolor, $secondarycolor);
                 background-clip: border-box;
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 cursor: pointer;
             }
         }
     }
 }